<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css'>
        <script src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js'></script>
    </head>
    <body>
        <div class = "container">
            <div class = "navbar navbar-inverse">
                <div class = "navbar-inner">
                    <a class = "brand" href="/index.html">Courses</a>
                    <ul class = "nav">
                        <li><a href="/ECE382/index.html">ECE382</a></li>
                        <li><a href="/SummerSeminar/index.html">Summer Seminar</a></li>
                    </ul>
                </div>
            </div>
            <%- markdown %>
        </div>
    </body>
</html>
